.background{
  background-color: #3776ab;
}

.nav-conteiner{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  position: fixed;
  top: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: #191022;
  width: 100%;
}

.nav-conteiner a{
    color:#32a887;
}

.active{
    background-color: #091410;
    border-radius: 10px;
}

.nav-conteiner a:hover{
  text-decoration: none;
  text-shadow: 1px 1px #fae0de;
}

.nav-conteiner::after{
    width: 100px;
    display: block;
    border-bottom: 2px solid white;
    transition: transform 1s ease;
    content: '';
    margin:auto;
    margin-top: 10px;
    animation: 1s ease-out 2s 1 stretchline;
    animation-fill-mode: forwards;
}

@keyframes stretchline {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(15);
    }
}

.content-about{
    background-color: inherit;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
    border: 2px solid #0000;
}

.foto {
    display: inline-block;
    margin: auto;
    width: auto;
    position: relative;
    top: -80px;
}

.title{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.title h1{
  text-align: center;
  /* font-family: monospace; */
  position: relative;
  right: 25px;
}

.about {
    display: inline-block;
    margin: auto;
    width: auto;
}

.about h3 {
    font-family: monospace;
    text-align: center;
}

.social-media-bar{
    display: block;
}

.social-media-list{
    margin:auto;
    text-align: center;
}

.social-media-list i{
    margin-left: 15px;
    margin-right: 15px;
}

.social-media-list a{
    color: black;
}

.social-media-list a:hover{
    text-decoration: none;
}

.button-back{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
    bottom:20px;
    right:30px;
}

.button-back a{
    color: black;
}

.arrow-up{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2.5px solid black;
    position: relative;
    bottom:50px;
    right:50px;
    display: block;
}

.icon{
  position: absolute;
  bottom: 10px;
  right: 13px;
  /* animation: 1s ease-in-out 4s infinite moving-arrow; */
}

.fa-arrow-down{
    font-size: 10px;
}

/* @keyframes moving-arrow {
    to {
      transform: translateY(10px);
    }
} */

.content-skills{
    background-color: inherit;
    padding: 10px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
    border: 2px solid #0000;
    position: relative;
}

.skills{
    display: block;
    position: relative;
}

.skill-icon-conteiner{
    display: inline-block;
    height: 300px;
}

.fa-php{
    font-size: 5em;
    position: absolute;
    top: 10px;
    left: 30px;
}

.fa-python{
    font-size: 4em;
    position: absolute;
    top: 10px;
    left: 45px;
}

.fa-js-square{
    font-size: 4em;
    position: absolute;
    top: 10px;
    left: 50px;
}

.fa-laravel{
    font-size: 5em;
    position: absolute;
    top: -10px;
    left: 45px;
}

.image-icon-mysql{
    position: absolute;
    top: -10px;
    left: 30px;
}

.image-icon-django{
  position: absolute;
  top: -21px;
  left: 30px;
}

.content-experience{
    background-color: inherit;
    padding: 10px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
    border: 2px solid #0000;
    position: relative;
}

.content-education{
    background-color: inherit;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
    position: relative;
    border: 2px solid #0000;
}

/* css for education */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container-education {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container-education.left {
  left: 0;
}

.container-education.right {
  left: 50%;
}

.container-education::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

.container-education.right::after {
  left: -8px;
}

.container-education::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.container-education.right::before {
  left: 8px;
}

.container-education .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container-education.left .date {
  right: -105px;
}

.container-education.right .date {
  left: -105px;
}

.container-education .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.container-education.left .icon {
  right: 56px;
}

.container-education.right .icon {
  left: 56px;
}

.container-education .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container-education.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container-education .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container-education .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container-education {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container-education.right {
    left: 0%;
  }

  .container-education.left::after,
  .container-education.right::after {
    left: 82px;
  }

  .container-education.left::before,
  .container-education.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container-education.left .date,
  .container-education.right .date {
    right: auto;
    left: 15px;
  }

  .container-education.left .icon,
  .container-education.right .icon {
    right: auto;
    left: 146px;
  }

  .container-education.left .content,
  .container-education.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
