<!-- {% extends "master.html" %}


{% block content %}
<div class="content-about" id="content">
  <div class="title" id="title">
    <h1>ABOUT</h1>
  </div>
  <div class="foto" id="foto">
      <img src="https://drive.google.com/thumbnail?id=1OVbw9ebriPKWD5m3RXhWkmkvZ4UF-ON_" class="border border-danger" alt="Responsive image">
  </div>
  <div class="about" id="about">
    <h3>Hai I'm <strong>Wahyu Alif Aldika</strong></h3>
    <p>Web Backend Developer</p>
    <hr>
    <p>Address : Jl A Yani, Gg Keluarga, Kota Langsa, Aceh</p>
    <p>Email   : aldika94wahyu@gmail.com</p>
    <p>Phone   : 085272720630</p>
  </div>
  <div class="social-media-bar">
    <div class="social-media-list">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-github"></i>
      <i class="far fa-envelope"></i>
    </div>
  </div>
</div>
{% endblock %} -->
